@import '../Variables.scss';

.to-do-item {
  display: flex;
  overflow: hidden;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: $color-complement-0;

  &.completed {
    .to-do-item__text {
      text-decoration: line-through;
      color: $color-secondary-2-3;
    }
  }

  &__done {
    margin-right: 5px;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__text {
    font-size: 14px;
  }

  &__input {
    padding-left: 5px;
    font-size: 14px;
  }

  &__delete {
    margin-left: auto;

    &:before {
      content: '\00d7';
      padding: 0 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      cursor: pointer;
    }
  }
}