@import '../variables.scss';

.to-do-search {
  display: flex;
  flex-direction: row-reverse;

  &-input {
    width: 18px;
    height: 22px;
    padding: 6px;
    color: transparent;
    float: right;

    &:hover,
    &:focus,
    &.visible {
      padding-right: 14px;
      width: 100%;
      color: $text-color;
    }
  }

  &-icon {
    position: absolute;
    color: $color-complement-1;
    padding: 1px 2px 0;

    &:before {
      content: '\1F50D';
    }
  }

  &-icon:hover,
  &-input:hover + &-icon,
  &-input:focus + &-icon,
  &-input.visible + &-icon {
    display: none;
  }

  &-clear {
    display: none;
    position: absolute;
    color: $text-color;
    padding: 1px 4px 0 2px;
    cursor: pointer;

    &:before {
      content: '\D7';
      font-size: 16px;
      font-weight: bold;
    }
  }

  &-input:not(:empty):hover + &-icon + &-clear,
  &-input:not(:empty):focus + &-icon + &-clear,
  &-input.visible + &-icon + &-clear {
    display: block;
  }
}