@import '../variables.scss';

.to-do-search {
  &-input {
    width: 18px;
    height: 22px;
    padding: 6px;
    color: transparent;
    transition: width .1s linear;
    float: right;

    &:hover,
    &:focus,
    &.visible {
      width: 100%;
      color: $text-color;
      transition: width .1s linear;
    }
  }
}