/* Color Scheme */

$color-primary-0: #FFF6F6;	// Main Primary color */
$color-primary-1: #FFC4C4;
$color-primary-2: #FFD9D9;
$color-primary-3: #FFECEC;
$color-primary-4: #E9D3D3;

$color-secondary-1-0: #FFFAF6;	// Main Secondary color (1) */
$color-secondary-1-1: #FFDFC4;
$color-secondary-1-2: #FFEAD9;
$color-secondary-1-3: #FFF5EC;
$color-secondary-1-4: #E9DDD3;

$color-secondary-2-0: #CED6D6;	// Main Secondary color (2) */
$color-secondary-2-1: #7EA4A4;
$color-secondary-2-2: #9FBBBB;
$color-secondary-2-3: #929E9E;
$color-secondary-2-4: #7E8C8C;

$color-complement-0: #E2EAE2;	// Main Complement color */
$color-complement-1: #A1D1A1;
$color-complement-2: #BCDDBC;
$color-complement-3: #BFCEBF;
$color-complement-4: #A8BAA8;


/* Gray */

$white: #ffffff;
$gray-primary-0: #333333;
$gray-primary-1: #9D9B9B;
$gray-primary-2: #6A6A6A;
$gray-primary-3: #000000;
$gray-primary-4: #020202;

$gray-secondary-1-0: #333333;
$gray-secondary-1-1: #9D9C9B;
$gray-secondary-1-2: #6A6A6A;
$gray-secondary-1-3: #000000;
$gray-secondary-1-4: #020202;

$gray-secondary-2-0: #1F1F1F;
$gray-secondary-2-1: #5D5E5E;
$gray-secondary-2-2: #404040;
$gray-secondary-2-3: #000000;
$gray-secondary-2-4: #010101;

$gray-complement-0: #292929;
$gray-complement-1: #7C7D7C;
$gray-complement-2: #555555;
$gray-complement-3: #000000;
$gray-complement-4: #010201;