@import '../variables.scss';

.to-do-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  border-top: 1px solid $grad;

  &.no-items {
    padding-top: 0;
    border-top: none;

    &:before {
      content: 'No items to show. Go ahead and add some :)';
      display: block;
      padding-top: 40px;
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      letter-spacing: -1px;
      color: $color-secondary-2-0;
    }
  }
}